<h1>Yo!</h1>

<div ng-controller="logoutController as logoutCtrl">
  <a ng-click='logoutCtrl.logout()' class="btn btn-default">Logout</a>
</div>



<h2>Welcome to the Stock Pricing App!</h2>

<h3>Choose some stocks</h3>

<div ng-controller="stockController as sc">

  <label>Search: <input ng-model="searchText"></label>
  <table id="searchTextResults" class="table" ng-controller="mainController as main">
      <thead>
          <tr>
              <th>#</th>
              <th>Stock</th>
              <th>Ave TGT</th>
              <th>Buy/Sell</th>
              <!-- <th>Add</th> -->
          </tr>
      </thead>

      <tbody>
          <tr ng-repeat="s in sc.stocks | filter:searchText">
              <td>{{$index + 1}}</td>
              <td><a ui-sref="stock({id: s._id})">{{s.symbol}}</a></td>
              <td>{{s.aveTGT.toFixed(2)}}</td>
              <td ng-if="sc.buySell()">Buy!</td>
              <td ng-if="!sc.buySell()">Sell</td>
              <!-- <td><a class="pure-button pure-button-primary">Add</a></td> -->
          </tr>
          <!-- ng-click="main.update(detail.user._id,s._id)" -->
      </tbody>
  </table>

</div>
