<div>
	<h1>stock:</h1>
	<h2>{{ sc.stock.symbol }}</h2>
</div>

<div class="container" ng-controller="mainController as main">
  <h1>Stock Detail view</h1>
  <table class="table">
      <thead>
          <tr>
              <th>Stock</th>
              <th>Ave TGT</th>
              <th>Recommendation</th>
              <th>
                Add/Remove from portfolio
              </th>
          </tr>
      </thead>

      <tbody>
          <tr>
              <td>{{sc.stock.symbol}}</td>
              <td>{{sc.stock.aveTGT.toFixed(2)}}</td>
              <td ng-if="sc.buySell()">Buy!</td>
              <td ng-if="!sc.buySell()">Sell</td>
              <td ng-if="sc.isStocked(sc.stock._id)">
                <a class="pure-button pure-button-primary" ng-click="main.removeStock({stock:sc.stock._id})">Remove</a>
              </td>
              <td ng-if="!sc.isStocked(sc.stock._id)">
                <a class="pure-button pure-button-primary" ng-click="main.addStock({stock:sc.stock._id})">Add</a>
              </td>
          </tr>
      </tbody>
  </table>

  <br><br>

  <table class="table">
      <thead>
          <tr>
              <th>#</th>
              <th>analystSchema</th>
              <th>Target Price</th>
              <th>date</th>
              <th>Add/Remove</th>
          </tr>
      </thead>

      <tbody>
          <tr ng-repeat="a in sc.stock.analysts">
              <td>{{$index + 1}}</td>
              <td><a>{{a.name}}</a></td>
              <td>{{a.target.toFixed(2)}}</td>
              <td>{{a.date}}</td>
              <td><a class="btn btn-primary" ng-click="console.log('hi')">+/-</a></td>
          </tr>
      </tbody>
  </table>

</div>
