<div>
	<h2>{{ sc.stock.companyName }}</h2>
</div>
<div>
  <!-- <h2>StockID:{{ sc.stock._id }}</h2>
  <h3>sc.stocked: {{sc.stocked}}</h3> -->
</div>

<div class="container">
  <table class="table">  
      <thead>
          <tr>
              <th>Stock</th>
              <th>Ave TGT</th>
              <th>Recommendation</th>
              <th>
                Add/Remove from portfolio
              </th>
          </tr>
      </thead>

      <tbody>
          <tr>
              <td><h4>{{sc.stock.symbol}}</h4></td>
              <td><h4>{{sc.stock.aveTGT.toFixed(2)}}</h4></td>
              <td ng-if="sc.buySell()"><h4><strong style="color:green;">Buy!</strong></h4></td>
              <td ng-if="!sc.buySell()"><h4><strong style="color:red;">Sell</strong></h4></td>
              <td ng-show="sc.stocked == true">
                <a class="btn btn-danger" ng-click="sc.removeStock({user:sc.currentUser._id, stock:sc.stock._id}); sc.stocked = false">Remove</a>
              </td>
              <td ng-show="sc.stocked == false">
                <a class="btn btn-primary" ng-click="sc.addStock({user:sc.currentUser._id,stock:sc.stock._id}); sc.stocked = true">Add</a>
              </td>
          </tr>
      </tbody>
  </table>

  <br><br>
	<!-- THIS IS WHERE THE ANLST TABLE IS -->
  <table class="table">
      <thead>
          <tr>
              <th>#</th>
              <th>Analyst</th>
              <th>Target Price</th>
              <th>date</th>
              <th ng-if="sc.stocked">Add/Remove</th>
          </tr>
      </thead>
      <!-- THIS IF YOU DONT HAVE THE STOCK REPEAT ALL ANSLT -->
      <tbody ng-if="!sc.stocked">
          <tr ng-repeat="a in sc.stock.analysts">
              <td>{{$index + 1}}</td>
              <td><a>{{a.name}}</a></td>
              <td>{{a.target.toFixed(2)}}</td>
              <td>{{a.date}}</td>
          </tr>
      </tbody>
      <!-- THIS IF YOU HAVE THE STOCK chosen analysts-->
      <tbody ng-if="sc.stocked">
          <tr ng-repeat="a in sc.chsnAnlsts">
              <td>{{$index + 1}}</td>
              <td><a>{{a.name}}</a></td>
              <td>{{a.target.toFixed(2)}}</td> <!-- .target.toFixed(2) -->
              <td>{{a.date}}</td> <!-- .date -->
              <td>
                <a
                  ng-class="sc.isChsnFirst(a._id) ? 'btn btn-danger' : 'btn btn-primary'"
                  ng-click="sc.rmAnlst(a, $index)">Remove</a>
              </td>
          </tr>
      </tbody>
  </table>

  <div ng-if="sc.notChsnAnlsts.length > 0">
  	<table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Analyst</th>
                <th>Target Price</th>
                <th>date</th>
                <th ng-if="sc.stocked">Add/Remove</th>
            </tr>
        </thead>

        <!-- THIS IF YOU HAVE THE STOCK not chosen analysts-->
        <tbody ng-if="sc.stocked">
            <tr ng-repeat="a in sc.notChsnAnlsts">
                <td>{{$index + 1}}</td>
                <td><a>{{a.name}}</a></td>
                <td>{{a.target.toFixed(2)}}</td>
                <td>{{a.date}}</td>
                <td>
                  <a
                    ng-class="sc.isChsnFirst(a._id) ? 'btn btn-primary' : 'btn btn-primary'"
                    ng-click="sc.addAnlst(a, $index)">Add</a>
                </td>
            </tr>
        </tbody>
    </table>    
  </div>

</div>
